html {
  width: 100%;
  margin-top: 60px;
  padding: 0;
  display: flex;
  justify-content: center;
}
body {
  width: 50%;
  margin: auto;
}

.bg-color {
  background: linear-gradient(to top, #bdc2e8 0%, #bdc2e8 1%, #e6dee9 100%);
  border-radius: 20px;
}

.row {
  display: flex;
  justify-content: center;
  text-align: center;
}

#icon {
  width: 30%;
}

.show-weather {
  text-align: right;
}

.show-weather2 {
  text-align: left;
  padding-top: 15px;
}

#city {
  text-align: center;
}

#forecast {
  margin-bottom: 26px;
}

#search-form {
  margin-bottom: 10px;
}

button {
  width: 30px;
  border: 1px solid;
  padding-bottom: 3px;
}
