:root {
  --main-font: "Port Lligat Sans", sans-serif;
}

html {
  width: 100%;
  margin-top: 20px;
  padding: 0;
  display: flex;
  justify-content: center;
}
body {
  width: 50%;
  margin: auto;
}

.bg-color {
  background: radial-gradient(
    circle at -2.9% 1.2%,
    rgb(255, 124, 0) 0%,
    rgb(255, 124, 0) 15.9%,
    rgb(255, 163, 77) 15.9%,
    rgb(255, 163, 77) 24.4%,
    rgb(19, 30, 37) 24.5%,
    rgb(19, 30, 37) 66%
  );
  border-radius: 20px;
}

.row {
  display: flex;
  justify-content: center;
  text-align: center;
}

#icon {
  width: 30%;
}

.show-weather {
  text-align: right;
}

.show-weather2 {
  text-align: left;
  padding-top: 15px;
}

#city {
  text-align: center;
}

#forecast {
  margin-bottom: 26px;
}

#search-form {
  margin-bottom: 10px;
}

button {
  width: 30px;
  border: 1px solid;
  padding-bottom: 3px;
  border-radius: 20px;
}

button:hover {
  background: lightgray;
}

.cally {
  font-family: monospace;
  font-size: 15px;
  color: white;
}

.active {
  color: red;
  font-weight: bold;
}
.rain {
  font-size: 17px;
}

.weatherD {
  margin-right: 20px;
  font-size: 17px;
  font-style: italic;
}

.title {
  color: orangered;
}

#fahrenheit,
#celsius {
  text-decoration: none;
  color: orangered;
  font-size: 20px;
}

.line {
  font-size: 20px;
}

@media only screen and (max-width: 414px) {
  html {
    margin-top: 110px;
  }
  body {
    width: 100%;
    boject-fit: contain;
  }
}
