.body {
  display: block;
  margin: 0 350px 0 315px;
  background: #e86f7d;
}
.container {
  text-align: center;
  background: #eab000;
  margin: 70px 0px 10px;
  box-shadow: -15px 11px rgb(65 50 100 / 8%);
  font-family: "Port Lligat Sans", sans-serif;
  border-radius: 50px 60%;
  border: solid 3px black;
  padding-bottom: 60px;
  padding-right: 40px;
}

.row {
  position: relative;
  bottom: 135px;
}

.col-1 {
  position: relative;
  margin-left: 30px;
  margin-right: 30px;
  left: 35px;
  font-size: 17px;
  text-align: center;
}

.title {
  margin-right: 225px;
  font-size: 45px;
  padding: 30px 0 8px;
  color: #e24e43;
  text-shadow: 2px 3px 3px rgba(0, 0, 0, 0.164);
}

.time {
  color: purple;
  font-size: 23px;
  margin-bottom: 20px;
  margin-right: 215px;
}
#icon {
  display: block;
  margin-left: 110px;
  width: 150px;
}
.weatherD {
  position: relative;
  bottom: 130px;
  right: 163px;
  font-size: 19px;
  font-style: italic;
  color: #e24e43;
}
.temperature {
  position: relative;
  left: 50px;
  bottom: 70px;
  font-size: 55px;
}
.rain {
  position: relative;
  font-size: 18px;
  text-align: left;
  left: 205px;
  bottom: 60px;
  padding: none;
}
button {
  position: absolute;
  top: 570.5px;
  padding: 4.4px 9px;
  left: 839.5px;
  background: #11c7d4c9;
  border: solid 2px black;
}
button:hover {
  background: #12dcebb4;
}
.search {
  position: absolute;
  left: 328px;
  bottom: 6px;
  padding: 3px;
  font-size: 18px;
  background: #11c7d4c9;
  font-family: "Port Lligat Sans", sans-serif;
  border: solid 2px black;
}
.search:hover {
  background: #12dcebb4;
}

.cally {
  text-align: center;
  padding-bottom: 70px;
  font-size: 15px;
  font-family: monospace;
  color: white;
  margin-left: 295px;
}
.app {
  position: fixed;
  top: 15px;
  left: 30px;
  font-size: 23px;
  font-family: monospace;
  color: white;
}

span {
  font-size: 22px;

  position: relative;
  bottom: 22px;
  right: 10px;
  left: 3px;
}
#city {
  display: block;
  margin: 0 auto 5px;
  border-radius: 20px;
  text-align: center;
  padding: 5px;
  font-size: 16px;
  font-family: monospace;
  background: whitesmoke;
  color: purple;
}

#celsius {
  font-size: 22px;
  color: #e24e43;
  position: relative;
  bottom: 105px;
  left: 10px;
  text-decoration: none;
}
#celsius:hover {
  font-weight: bold;
  color: #e24e43;
}
#fahrenheit {
  font-size: 22px;
  color: #e24e43;
  position: relative;
  bottom: 105px;
  left: 10px;
  text-decoration: none;
}
#fahrenheit:hover {
  font-weight: bold;
  color: #e24e43;
}
.line {
  left: 10px;
  bottom: 105px;
  color: #018f98;
}

.tNumber {
  position: absolute;
  right: 105px;
  bottom: 120px;
  font-size: 60px;
  color: #018f98;
}

.pre {
  font-size: 18px;
}
.wind {
  font-size: 18px;
}
.git {
  text-decoration: none;
  color: purple;
}
.git:hover {
  color: white;
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🍋</text></svg>")
      16 0,
    auto;
}

#search-form {
  position: absolute;
  top: 570px;
  left: 455px;
}
.social {
  list-style: none;
  position: relative;
  left: 320px;
  bottom: 190px;
}
.links {
  display: inline;
  padding: 0 8px;
}
.socials:hover {
  width: 50px;
  transition: 200ms ease-in-out;
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🍋</text></svg>")
      16 0,
    auto;
}
.lemon {
  font-size: 50px;
  opacity: 60%;
}

#L1 {
  position: absolute;
  bottom: 230px;
  left: 160px;
}
#L2 {
  position: absolute;
  bottom: 400px;
  left: 60px;
}
#L3 {
  position: absolute;
  bottom: 20px;
  left: 50px;
}
#L4 {
  position: absolute;
  top: 630px;
  left: 270px;
}

#L5 {
  position: absolute;
  bottom: 430px;
  right: 70px;
}
#L6 {
  position: absolute;
  bottom: 50px;
  right: 90px;
}
#L7 {
  position: absolute;
  top: 650px;
  right: 180px;
}
#L8 {
  position: absolute;
  bottom: 250px;
  right: 220px;
}
.active {
  font-weight: bold;
}

.min {
  font-size: 15px;
  color: rgba(41, 40, 40, 0.842);
}

#days {
  position: relative;
  right: 20px;
}

#cursor {
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🍋</text></svg>")
      16 0,
    auto;
}
